:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --hero-text-color: #ffffff;
  --filter-color: #f5f4fa;
  --icon-color: #afb1b8;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

body {
  background-color: var(--hero-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

/* COMMON */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.no-marker {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  height: 50px;
  width: 200px;
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  cursor: pointer;
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
}

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 94px;
}

/* HEADER */

.page-header {
  border: 1px solid #ececec;
}

.page-header--justify {
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo-link {
  color: var(--secondary-text-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  margin-bottom: 25px;
  margin-top: 24px;
}

.nav__logo,
.address-container__logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
}

.nav__site-nav {
  display: flex;
}

.nav__site-nav .nav__list:not(:last-child) {
  margin-right: 50px;
}

.nav__site-nav .nav__link {
  color: var(--secondary-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav__site-nav .nav__link:hover,
.nav__site-nav .nav__link:focus {
  color: var(--accent-color);
}

.nav__site-nav .nav__link.nav__current {
  color: var(--accent-color);
  position: relative;
}

.nav__site-nav .nav__link.nav__current::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;

  background-color: currentColor;
  border-radius: 2px;
}

.head-address {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding-right: 50px;
}

.head-address__list:nth-child(1) {
  margin-right: 30px;
}

.head-address__link {
  color: var(--primary-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  display: flex;
  align-items: center;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.head-address__link:hover,
.head-address__link:focus {
  color: var(--accent-color);
}

.head-address__link:hover .head-address__icon,
.head-address__link:focus .head-address__icon {
  fill: var(--accent-color);
}

.head-address__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

/* FOOTER */
.page-footer {
  background-color: #2f303a;
  padding: 60px 0;
  height: 252px;
}

.page-footer--align {
  display: flex;
  align-items: baseline;
}

.address-container {
  margin-right: 70px;
}

.address-container__link {
  color: var(--hero-text-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  margin-bottom: 20px;
  display: flex;
}
.footer-address__list {
  margin-bottom: 9px;
}

.footer-address__link {
  text-decoration: none;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-address__link:hover,
.footer-address__link:focus {
  color: var(--accent-color);
}

.footer-address--address {
  color: var(--hero-text-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
}

.footer-address--email,
.footer-address--tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.media-container {
  display: flex;
  width: 206px;
  height: 80px;
  flex-direction: column;

  margin-right: 93px;
}

.media-container__title,
.footer-form__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--hero-text-color);
}

.media-container__social-media {
  padding: 0;
  display: flex;
  list-style: none;
}

.media-container__list {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  align-items: center;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.media-container__list:nth-child(4) {
  margin-right: 0;
}

.media-container__list:hover,
.media-container__list:focus {
  background-color: var(--accent-color);
}

.media-container__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-container__icon {
  fill: var(--hero-text-color);
}

.footer-form {
  width: 570px;
  height: 86px;
  display: flex;
  align-items: flex-end;
}

.footer-form__input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  padding-left: 16px;
  margin-right: 12px;

  background-color: inherit;
  color: var(--hero-text-color);
}

.footer-form--subscribe {
  display: flex;
  align-items: center;
  padding-left: 29px;
}

.footer-form__icon {
  margin-left: 10px;
}
