/* --------- CSS for Studio --------- */

/* HERO */

.hero {
  text-align: center;
  padding: 200px 0;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  color: var(--hero-text-color);

  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--transition-duration) linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) linear;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--hero-text-color);

  padding: 40px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  padding: 0;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: var(--hero-text-color);

  cursor: pointer;
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: var(--accent-color);
}

.modal__icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);
  margin: 0 9px;
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  margin: 0 0 12px 0;

  color: var(--secondary-text-color);
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  display: flex;

  color: var(--primary-text-color);
}

.form__container {
  position: relative;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 11px 42px;
  margin-bottom: 10px;
  margin-top: 4px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input:focus {
  border: 1px solid var(--accent-color);
  outline: 0;
}

.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 0;
  left: 14px;
}

.form__comment {
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:focus {
  border: 1px solid var(--accent-color);
  outline: 0;
}

.form__comment:not(:placeholder-shown) {
  color: var(--secondary-text-color);
}

.checkbox {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);

  align-items: center;
  justify-content: center;
  display: flex;
}

.form__checkbox {
  margin-bottom: 30px;
  margin-top: 20px;
}

.checkbox__visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox__visually-hidden:checked + .checkbox__icon {
  background-color: var(--accent-color);
  border: transparent;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--secondary-text-color);

  margin-right: 7px;
  margin-bottom: 3px;
}

.checkbox__link {
  color: var(--accent-color);
  margin-left: 4px;
}

/* OUR FEATURES */

.section-title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  display: flex;
  padding-top: 94px;
}

.features__list:not(:last-child) {
  margin-right: 30px;
}

.features__icon {
  background-color: #f5f4fa;
  display: block;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.features__title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;

  margin-bottom: 30px;
}

/* WHAT WE DO */

.occupation {
  display: flex;
  padding-bottom: 94px;
}

.occupation__list:not(:last-child) {
  margin-right: 30px;
}

.occupation__list {
  position: relative;
  display: flex;
}

.occupation__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--hero-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.occupation__text {
  margin: 0;
  padding: 0;
}

/* OUR TEAM */
.section {
  background-color: #f5f4fa;
}
.team {
  display: flex;

  padding-bottom: 94px;
}

.team__list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  text-align: center;
  background-color: var(--hero-text-color);
}

.team__pic {
  display: block;
}

.team__title {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  padding: 30px 0 10px;
  margin: 0;
}

.team__text {
  padding-bottom: 16px;
  margin: 0;
}

.media-links {
  padding: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.media-links__list {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  align-items: center;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  background-color: var(--hero-text-color);

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.media-links__list:nth-child(4) {
  margin-right: 0;
}

.media-links__list:hover,
.media-links__list:focus {
  background-color: var(--accent-color);
}

.media-links__list:hover .media-links__icon,
.media-links__list:focus .media-links__icon {
  fill: var(--hero-text-color);
}

.media-links__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-links__icon {
  fill: var(--icon-color);

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

/* CLIENTS */

.clients {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}

.clients__list {
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  margin-right: 30px;
  background-color: var(--hero-text-color);
  width: 170px;
  height: 92px;

  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.clients__list:hover,
.clients__list:focus {
  border: 1px solid var(--accent-color);
}

.clients__list:nth-child(6) {
  margin-right: 0;
}

.clients__list:hover .clients__icon,
.clients__list:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__icon {
  fill: var(--icon-color);

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

/* --------- CSS for Portfolio --------- */

.filter {
  display: flex;
  justify-content: center;
  margin: 94px 0 50px;
}

.filter__button {
  background-color: var(--filter-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  margin-right: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  transition: box-shadow var(--transition-duration)
      var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter--accent {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
  width: inherit;
}

.projects__list {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  width: 370px;
  height: 404px;

  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.projects__list:hover,
.projects__list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__list:hover .projects__container::before,
.projects__list:focus .projects__container::before {
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(0);
}

.projects__list:hover .projects__text,
.projects__list:focus .projects__text {
  transform: translateY(0);
}

.projects__link {
  cursor: pointer;
}

.projects__container {
  position: relative;
  overflow: hidden;
  background-color: rgba(33, 150, 243, 0.9);
}

.projects__container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  content: "";
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.projects__pic {
  display: block;
  width: 100%;
}

.projects__text {
  margin: 0;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;

  color: var(--hero-text-color);
}

.projects__title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  padding: 20px 24px 4px;
  margin: 0;
}

.projects__description {
  font-size: 16px;
  line-height: 1.87;

  padding: 0 24px 20px;
  margin: 0;
}
