.media-container {
  display: flex;
  width: 206px;
  height: 80px;
  flex-direction: column;

  margin-right: 93px;
}

.media-container__social-media {
  padding: 0;
  display: flex;
  list-style: none;
}

.media-container__list {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  align-items: center;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color $transition-duration $transition-timing-function;
}

.media-container__list:nth-child(4) {
  margin-right: 0;
}

.media-container__list:hover,
.media-container__list:focus {
  background-color: $accent-color;
}

.media-container__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-container__icon {
  fill: $hero-text-color;
}
