.address-container {
  margin-right: 70px;
}

.address-container__link {
  color: $hero-text-color;
  font-family: Raleway, sans-serif;
  text-decoration: none;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  margin-bottom: 20px;
  display: flex;
}

.footer-address__list {
  margin-bottom: 9px;
}

.footer-address__link {
  text-decoration: none;

  transition: color $transition-duration $transition-timing-function;
}

.footer-address__link:hover,
.footer-address__link:focus {
  color: $accent-color;
}

.footer-address--address {
  color: $hero-text-color;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
}

.footer-address--email,
.footer-address--tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
