.nav {
  display: flex;
  align-items: center;
}

.nav__logo-link {
  color: $secondary-text-color;
  font-family: Raleway, sans-serif;
  text-decoration: none;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  margin-bottom: 25px;
  margin-top: 24px;
}

.nav__site-nav {
  display: flex;
}

.nav__site-nav {
  .nav__list:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__site-nav {
  .nav__link {
    color: $secondary-text-color;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding: 32px 0;
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    transition: color $transition-duration $transition-timing-function;
  }
}

.nav__site-nav {
  .nav__link:hover,
  .nav__link:focus {
    color: $accent-color;
  }
}

.nav__site-nav {
  .nav__link.nav__current {
    color: $accent-color;
    position: relative;
  }
}

.nav__site-nav {
  .nav__link.nav__current::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;

    background-color: currentColor;
    border-radius: 2px;
  }
}
